body {
  background-color: #FFFFFF;
}

h1 {
  text-align: center;
  font-weight: normal;
}
p {
  font-size: medium;
}
*{
  text-align: center;
  font-family: sans-serif;
}  
/* Styling for the navigation bar */
.topnav {
  display: flex;
  justify-content: right; /* Centers items horizontally */
  align-items: center; /* Centers items vertically */
  gap: 20px; /* Adds space between elements */
  background-color: #333;
  padding: 15px 0;
}

/* Styling for the navigation links */
.topnav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  transition: color 0.3s;
}

/* Hover effect */
.topnav a:hover {
  color: #f4bbd7;
}
.logo {
  position: absolute;
  top: -20px; /* Adjusts overlap */
  left: 20px; /* Positions the logo to the left */
  width: 80px; /* Adjust size as needed */
  height: auto;
}
.hero{
  background-color: #f4bbd7;
  border: 2px solid f4bbd7;
  border-radius: 5px;
  padding: 2%;
}